


<ion-pane ng-controller="ControladorLista">
  <ion-header-bar cla<ss="bar-stable">
    <h1 class="title">Titulo</h1>
  </ion-header-bar>

   <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" ng-model="busqueda" placeholder="Buscar">
        </label>
      </div>

  <ion-content class="has-subheader" ng-controller="ControladorLista">
  <div class="List">
    <a class="item item-thumbnail-left" href="#" ng-repeat="list in listado | filter: busqueda">
      <img src="img/persona.png">
      <h2>{{list.nombre}}</h2>
      <p>Parrafo</p>
    </a>
  </div>
</ion-content>

</ion-pane>

