
<ion-view title="Lista de Canciones" id="page4">

  <ion-pane ng-controller="ControladorLista">
    <ion-header-bar cla<ss="bar-stable">
      <h1 class="title">Titulo</h1>
    </ion-header-bar>

    <div class="bar bar-subheader item-input-inset bar-light">
          <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="busqueda" placeholder="Buscar">
          </label>
      </div>

  <ion-content class="has-subheader" ng-controller="ControladorLista">
    <!--<div class="List">
      <a class="item item-thumbnail-left" href="#" ng-repeat="list in listado | filter: busqueda">
        <img src="img/persona.png">
        <h2>{{list.nombre}}</h2>
        <p>{{list.artista}}</p>
      </a>
    </div>-->

    <ion-list show-delete="false" can-swipe="true">
      <ion-item class="item item-avatar" href="#" ng-repeat="list in listado | filter: busqueda">
      <!---<ion-item class="class="item item-avatar"" href="#" ng-repeat="list in listado | filter: busqueda">-->  
        <img src="img/perro.png">
        <h2>{{list.nombre}}</h2>
        <p>{{list.artista}}</p>

        <ion-option-button class="button-assertive icon ion-heart"></ion-option-button>
        <ion-option-button class="button-energized icon ion-email"></ion-option-button>
        <ion-option-button ng-click="deleteEvent()" class="button-calm icon ion-trash-a"></ion-option-button>

      </ion-item>
    </ion-list>

  </ion-content>

  </ion-pane>

  

</ion-view>

